
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Idea:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>Buisness:</strong>
  <%= @article.name %>
</p>
<p>
  <strong>Contact Information:</strong>
  <%= @article.contact %>
</p>